<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PROMOTION</title>
  </head>
  <body>
    <div class="title">
      <marquee>INI ADALAH PROMOTION</marquee>
    </div>
  </body>
</html>
